custom/node.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="nodeProperty.xsd"/>

  <xsd:complexType name="NodeResult">
    <xsd:sequence>
      <xsd:element name="self" type="xsd:anyURI"/>
      <xsd:element name="create_relationship" type="xsd:anyURI"/>
      <xsd:element name="data" type="NodeProperty"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>