custom/relationship.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="Relationship">
    <xsd:sequence>
      <xsd:element name="to" type="xsd:anyURI"/>
      <xsd:element name="type" type="ConnectionType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="ConnectionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ConnectedTo"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>