xsd/rnsInfo.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Road Navigation System -->
  <xsd:element name="rns">

    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="places" type="Places"/>
        <xsd:element name="vehicles" type="Vehicles"/>
        <xsd:element name="roads" type="Roads"/>
      </xsd:sequence>
    </xsd:complexType>

    <!-- Places key - keyref - unique -->
    <xsd:key name="placeKey">
      <xsd:selector xpath="places/place"/>
      <xsd:field xpath="@id"/>
    </xsd:key>

    <xsd:keyref name="placeConnection" refer="placeKey">
      <xsd:selector xpath="places/place/connection"/>
      <xsd:field xpath="@id"/>
    </xsd:keyref>

    <xsd:key name="roadKey">
      <xsd:selector xpath="roads/road"/>
      <xsd:field xpath="@name"/>
    </xsd:key>

    <xsd:key name="segmentKey">
      <xsd:selector xpath="roads/road/segment"/>
      <xsd:field xpath="@id"/>
    </xsd:key>

    <xsd:keyref name="placeRoadSegment" refer="roadKey">
      <xsd:selector xpath="places/place/roadSegment"/>
      <xsd:field xpath="@road"/>
    </xsd:keyref>

    <xsd:keyref name="placeSegment" refer="segmentKey">
      <xsd:selector xpath="places/place/roadSegment"/>
      <xsd:field xpath="@id"/>
    </xsd:keyref>

    <!-- Vehicles key - keyref - unique -->
    <xsd:unique name="uniqueVehicle">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@id"/>
    </xsd:unique>

    <xsd:keyref name="vehiclePosition" refer="placeKey">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@position"/>
    </xsd:keyref>

    <xsd:keyref name="vehicleOrigin" refer="placeKey">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@origin"/>
    </xsd:keyref>

    <xsd:keyref name="vehicleDestination" refer="placeKey">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@destination"/>
    </xsd:keyref>

  </xsd:element>


  <!-- Places -->
  <xsd:complexType name="Places">
    <xsd:sequence>
      <xsd:element name="place" type="Place" minOccurs="0" maxOccurs="unbounded">
        <!-- a place cannot be connected to itself -->
        <xsd:unique name="uniqueConnection">
          <xsd:selector xpath="connection|."/>
          <xsd:field xpath="@id"/>
        </xsd:unique>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Place">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="roadSegment" type="RoadSegment"/>
        <xsd:element name="parkingArea" type="ParkingArea"/>
        <xsd:element name="gate" type="Gate"/>
      </xsd:choice>
      <xsd:element name="connection" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="capacity" type="xsd:positiveInteger" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="RoadSegment">
    <xsd:attribute name="id" type="xsd:string"/>
    <xsd:attribute name="road" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="ParkingArea">
    <xsd:sequence>
      <xsd:element name="services">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="service" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:attribute name="name" type="xsd:string"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="serviceUnique">
          <xsd:selector xpath="service"/>
          <xsd:field xpath="@name"/>
        </xsd:unique>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Gate">
    <xsd:attribute name="type" type="GateType"/>
  </xsd:complexType>


  <!-- Vehicles -->
  <xsd:complexType name="Vehicles">
    <xsd:sequence>
      <xsd:element name="vehicle" type="Vehicle" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Vehicle">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="position" type="xsd:string" use="required" />
    <xsd:attribute name="origin" type="xsd:string" use="required"/>
    <xsd:attribute name="destination" type="xsd:string" use="required"/>
    <xsd:attribute name="entryTime" type="xsd:dateTime" use="required"/>
    <xsd:attribute name="state" type="VehicleState" use="required"/>
    <xsd:attribute name="type" type="VehicleType" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="Roads">
    <xsd:sequence>
      <xsd:element name="road" type="Road" minOccurs="0" maxOccurs="unbounded">
        <xsd:unique name="segmentUnique">
          <xsd:selector xpath="segment"/>
          <xsd:field xpath="@name"/>
        </xsd:unique>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Road">
    <xsd:sequence>
      <xsd:element name="segment" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:string" use="required"/>
          <xsd:attribute name="id" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>


  <!-- Enumerations -->
  <xsd:simpleType name="VehicleState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PARKED"/>
      <xsd:enumeration value="IN_TRANSIT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VehicleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CAR"/>
      <xsd:enumeration value="TRUCK"/>
      <xsd:enumeration value="SHUTTLE"/>
      <xsd:enumeration value="CARAVAN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="IN"/>
      <xsd:enumeration value="OUT"/>
      <xsd:enumeration value="INOUT"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
