xsd/rnsInfo.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Road Navigation System -->
  <xsd:element name="rns">

    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="places" type="PlacesType"/>
        <xsd:element name="vehicles" type="VehiclesType"/>
        <xsd:element name="roads" type="RoadsType"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:key name="placeKey">
      <xsd:selector xpath="places/place"/>
      <xsd:field xpath="@id"/>
    </xsd:key>

    <xsd:keyref name="placeConnection" refer="placeKey">
      <xsd:selector xpath="places/place/connection"/>
      <xsd:field xpath="@id"/>
    </xsd:keyref>

    <xsd:unique name="uniqueVehicle">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@id"/>
    </xsd:unique>

    <xsd:keyref name="vehiclePosition" refer="placeKey">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@position"/>
    </xsd:keyref>

    <xsd:keyref name="vehicleOrigin" refer="placeKey">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@origin"/>
    </xsd:keyref>

    <xsd:keyref name="vehicleDestination" refer="placeKey">
      <xsd:selector xpath="vehicles/vehicle"/>
      <xsd:field xpath="@destination"/>
    </xsd:keyref>

    <xsd:key name="roadKey">
      <xsd:selector xpath="roads/road"/>
      <xsd:field xpath="@name"/>
    </xsd:key>

  </xsd:element>


  <!-- Places Type - list of single places -->
  <xsd:complexType name="PlacesType">
    <xsd:sequence>
      <xsd:element name="place" type="PlaceType" minOccurs="0" maxOccurs="unbounded">
        <!-- a place cannot be connected to itself -->
        <xsd:unique name="uniqueConnection">
          <xsd:selector xpath="connection|."/>
          <xsd:field xpath="@id"/>
        </xsd:unique>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Place Type - a single place -->
  <xsd:complexType name="PlaceType">
    <xsd:sequence>
      <xsd:element name="connection" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="capacity" type="xsd:positiveInteger" use="required"/>
  </xsd:complexType>

  <!-- Vehicles Type - list of vehicles -->
  <xsd:complexType name="VehiclesType">
    <xsd:sequence>
      <xsd:element name="vehicle" type="VehicleType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Vehicle Type - a single vehicle -->
  <xsd:complexType name="VehicleType">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="position" type="xsd:string" use="required" />
    <xsd:attribute name="origin" type="xsd:string" use="required"/>
    <xsd:attribute name="destination" type="xsd:string" use="required"/>
    <xsd:attribute name="entryTime" type="xsd:dateTime" use="required"/>
    <xsd:attribute name="state" type="VehicleState" use="required"/>
    <xsd:attribute name="type" type="VehicleTypes" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="RoadsType">
    <xsd:sequence>
      <xsd:element name="road" type="RoadType" minOccurs="0" maxOccurs="unbounded">
        <xsd:unique name="segmentUnique">
          <xsd:selector xpath="segment"/>
          <xsd:field xpath="@name"/>
        </xsd:unique>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RoadType">
    <xsd:sequence>
      <xsd:element name="segment" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:string" use="required"/>
          <xsd:attribute name="id" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>


  <!-- Enumerations -->
  <xsd:simpleType name="VehicleState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PARKED"/>
      <xsd:enumeration value="IN_TRANSIT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VehicleTypes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CAR"/>
      <xsd:enumeration value="TRUCK"/>
      <xsd:enumeration value="SHUTTLE"/>
      <xsd:enumeration value="CARAVAN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="IN"/>
      <xsd:enumeration value="OUT"/>
      <xsd:enumeration value="INOUT"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
